.addTechItem-container {
  border: 1px solid deeppink;
  width: 80%;
  display: flex;
  margin: 10px 0;
  justify-content: center;

}

.addTechItemForm {

  width: 100%;
  display: flex;

}



.buttonContainer {
  border: 3px solid lightskyblue;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addTechItemButton {
  border: 3px solid cornflowerblue;
  color: black;
  background: lightskyblue;
  border-radius: 5px;
  outline-style: none;
  padding: 5px;
  margin: 2px;
  font-size: 14px;
  height: 50%;
}
.boxy{
  border: 5px solid brown;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.techFormInputs {
  border: 2px solid navy;
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: 10px;
}

.addInputField {
  border: 1px solid purple;
  display: flex;
  width: 50%;
}

.addInputFieldName {
  border: 1px solid purple;
  display: flex;
  width: 100%;

}


.addTextAreaField {
  border: 1px solid green;
  display: flex;
  width: 90%;

}

textarea{
  width: 100%;
  margin: 5px;
}